{% extends 'main/base.html' %}

{% block title %}Book{% endblock  %}

{% block page_style %}
    <style>
        .left-hover {
            animation: appear-left 1s ease-out forwards;
        }
        .bottom-hover{
            animation: appear-bottom 1s ease-out forwards;
        }
        @keyframes appear-left {
            0% {
                transform: translate(-7%);
                opacity: 0.5;
            }
            100% {
                transform: translate(0%);
                opacity: 1;
            }
        }
        @keyframes appear-bottom {
            0% {
                transform: translateY(10%);
                opacity: 0.7;
            }
            100% {
                transform: translate(0%);
                opacity: 1;
            }
        }
        .unseen {   
            max-height: 0px;
            transition: max-height 0.7s ease-out;
            overflow: hidden;
        }
        .unseen.clicked {
            max-height: 1000px;
            transition: max-height 1s ease-out;
        }
    </style>
{% endblock  %}

{% block content %}
{% load crispy_forms_tags %}
    <div class="container min-vh-100 p-5" style="background-color: #fff2f0;">
        <div class="row mb-5" style="min-height: 384px;">
            <div class="col-lg-3 col-md-6 d-flex justify-content-center mx-2">
                <img src="{{book.cover_url}}" alt="{{book.book_name}}" height="384px" width="auto" style="background-color: #aaa;"/>
            </div>
            
            <div class="col-lg-6 col-md-8 col-sm-12 left-hover px-4">
                <h3 class="display-3">{{book.book_name}}</h3>
                <span class="bold-it">Author:</span><a href="{% url 'author_id' book.author.id %}" style="text-decoration: none;"> {{book.author}}</a><br/>
                <span class="bold-it">Published on:</span> {{book.pub_date}}<br/>
                <span class="bold-it">Number of Pages:</span> {{book.num_pages}}<br/>
                {% if book.pdf_url %}
                    <a href="{{book.pdf_url}}">Read the Book</a><br/>
                {% endif %}
                {% if book.summary %}
                    <span class="bold-it">Short Summary:</span><br/>
                    <p>{{book.summary}}</p>
                {% endif %}
            </div>
        </div>

        <div class="unseen" id="write-review">
        {% if user.is_authenticated %}
        <div class="row d-flex justify-content-center my-lg-3 my-md-1" >
            <div class="col-md-12 col-lg-8">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h2>Write Review</h2>
                        <button type="button" class="btn btn-outline-warning" onclick="javascript:document.getElementById('write-review').classList.remove('clicked');">Dismiss</button>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            {% if edit %}
                                <form method="post" action="{% url 'update_review' book.id %}" enctype="multipart/form-data"> 
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <input class="btn btn-success my-2" type="Submit" value="Update" />
                                    <a class="btn btn-danger my-2" type="button" href="{% url 'delete_review' book.id %}">Delete</a>
                                </form>
                            {% else %}
                                <form method="post" action="{% url 'create_review' book.id %}" enctype="multipart/form-data">    
                                    {% csrf_token %}
                                    {{form|crispy}}
                                    <input class="btn btn-success my-2" type="Submit" value="Create" />
                                </form>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        {% endif %}
        </div>
        
        <div class="row ms-md-2 d-flex justify-content-center">
            <div class="col-md-10 col-sm-12 d-flex justify-content-between align-items-center">
                <h4 class="display-4 my-0 left-hover">Reviews</h4>
                {% if user.is_authenticated %}
                    {% if edit %}
                        <button class="btn btn-outline-success" type="button" onclick="javascript:document.getElementById('write-review').classList.add('clicked')">Edit Review</button>
                    {% else %}
                        <button class="btn btn-outline-info" type="button" onclick="javascript:document.getElementById('write-review').classList.add('clicked')">Write Review</button>
                    {% endif %}
                {% endif %}
                
                {% comment %} <a class="btn btn-outline-info" href="{% url 'create_review' book.id %}">Write Review</a> {% endcomment %}
            </div>
            <hr class="col-md-10 col-sm-12"/>
            {% for r in book.reviews.all %}
                <div class="card col-md-10 col-sm-12 my-1 p-0 bottom-hover">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4>{{ r.title }}</h4>
                        <h5>Rating: {{r.rating}} / 10</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            {{ r.content}}
                        </div>
                    </div>
                    <div class="card-footer">
                        posted by: <b>{{ r.owner.username }}</b>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock  %}