#home-wrapper {
  height: 100%;
  perspective: 10px;
  -webkit-perspective: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#home-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  z-index: -1;
  height: 100%;
}

.home-bg,
.home-fg {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home-bg {
  transform: scale(0.9);
  z-index: -1;
  transform: translateZ(-10px) scale(2);
  -webkit-transform: translateZ(-10px) scale(2);
}

.home-fg {
  z-index: 10;
  transform: translateZ(-5px) scale(1.5);
  -webkit-transform: translateZ(-5px) scale(1.5);
}

#home-content {
  position:relative;
  z-index: 1000 !important;
  width: 100%;
  transform: translateZ(-5px) scale(1.2);
  transition: 0.2s ease-out;
  justify-content: center;
  display: flex;
}

#home-content-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  z-index: 999 !important;
  height: 100%;
  width: 100vw;
}

#home-content-bg {
  position:absolute;
  z-index: 999 !important;
  top: 24%;
  height: 100%;
  width: 150%;
  transform: translateZ(-5px) scale(1);
  background-color: #fff2f0;
}

.lineUp {
  animation: 2s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (max-width: 992px) {
  #home-content {
    transform: translateY(30%);
  }
}

.img-sml {
  animation: 0.9s anim-soft-small ease-out;
}

@keyframes anim-soft-small {
  0% {
    transform: scale(1.2) translateZ(0px) translateY(1%);
  }
  100% {
    transform: scale(1.5) translateZ(-5px) translateY(0%);
  }
}

#home-main-text {
  position: absolute;
  background-color: #0000;
  height: auto;
  width: 80%;
  z-index: 1001 !important;
  top: 220px;
  font-size: x-large;
}

#home-float-left {
  position: absolute;
  background-color: #fff;
  width: 40%;
  left: 0;
  padding: 1rem;
  transform: translateZ(-1px) scale(1.1) translate(-100%);
  transition: 3s ease-out;
  word-wrap: break-word;
  display: block;
  overflow: hidden;
}

#home-float-right {
  position: absolute;
  background-color: #fff;
  width: 40%;
  height: auto;
  right: 0;
  padding: 1rem;
  transform: translateY(30%) translateZ(-2px) scale(1.1) translate(100%);
  transition: 2.5s ease-out;
}
